    <div class="full-page-main">
        <div class="full-screen grid-y"> <!-- menu bar start -->
          <div class="menu-wrapper">
            <div class="cell logo-line text-center">
                <a href="index.html"><img src="assets/img/summit-logo.svg" alt="The Summit Tree Service logo has three mountains with trees inset and a snow cap inset"></a>
            </div>
            <div class="cell title-line text-center uppercase">
              <a href="index.html"><h1 class="font-family-2">Summit Tree Service</h1></a>
            </div>
            <div class="cell phone-number-line text-center uppercase">
              <h1 class="font-family-2">JJ Johnson <span class="dot">&#8226</span> Owner / Climber <span class="dot">&#8226</span> <a href="tel:+1-360-383-6654">360-383-6654</a></h1>
            </div>
            <div class="cell text-center">
              <div class="license-line lowercase">
                <div>Licensed</div>
                <div>Bonded</div>
                <div>Insured</div>
                <div class="license-number">#604-159-882</div>
              </div>
            </div>
            <ul class="menu link-line cell horizontal align-center text-center" id="hidden-menu">
              <li><a href="index.html">home</a></li>
              <li><a href="tree-services.html#tree-removal">services</a></li>
              <li><a href="bio.html#bio">bio</a></li>      
              <li><a href="testimonials.html#testimonial-content">testimonials</a></li>      
            </ul>
            <div class="line-line cell"></div>
          </div>
          <div class="scroll-down-button" data-magellan data-threshold="0">
            <a href="#main-content-section" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
          </div> 
        </div> <!-- menu bar end -->